<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'PrayTheNews/css/Catalogo.css'%}" type="text/css">
    {% block Titulo%}
    <title>Catalogo PlayStation</title>
    {%endblock Titulo%}
  </head>
  <body>


    <!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
  <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="img/logo_small.png" alt="" width="100"></a>
      <button type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#MenuNavegacion">
              <span class="navbar-toggler-icon"></span>
      </button>
  </div>

<div id="MenuNavegacion" class="collapse navbar-collapse">
<ul class="navbar-nav ms-3">
<li class="nav-item">
              <a class="nav-link active" href="MenuPrincipalTerminado.html">Inicio</a>
          </li>
              <li class="nav-item">
              <a class="nav-link" href="MenuNoticias.html">Noticias</a>
          </li>
              <li class="nav-item">
              <a class="nav-link" href="MenuAnalisis.html">Analisis</a>
              
          </li>


          

          <li class="nav-item">
            <a class="nav-link" href="Lanzamientos.html">Lanzamientos</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="catalogoPS.html">Catalogo</a>
          </li>



          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="LoginUsuario.html">Conectate</a></li>
                <li><a class="dropdown-item" href="Registro de usuario(Listo).html">Registrate</a></li>
                <li><a class="dropdown-item" href="Cuenta-perfil-usuario.html">Ver Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="CuentaAdmin-EditarUsuarios.html">Administrador</a></li>
                

                
                
              </ul>
          </li>


</ul>
      
</div>
</nav>

    <!--narvar 2-->

    <nav class="container navbar navbar-expand-sm navbar-dark" style="
    margin-bottom: 40px;"  >
    
  


      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        

        <div class="collapse navbar-collapse " id="mynavbar">
          <ul class="navbar-nav me-auto">
            <a class="btn btn-primary" href="catalogoPS.html" role="button">PlayStation</a>
            <a class="btn btn-primary" href="catalogoPc.html" role="button">PC</a>
            <a class="btn btn-primary" href="catalogoXbox.html" role="button">Xbox</a>
            
            
            


            
            </div>
            
          </ul>
          

          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Busqueda"/>
            <button class="btn btn-primary" type="button">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- catalogo-->

    <div class="container formulario3">
      <div class="row" >
      {%block catalogo%}
       <div class="col-md-6 col-lg-4 col-xl-3" style="
          margin-bottom: 40px;">
          <div class="card" style="width: 18rem">
            <!--Aqui se deberia hacer un While para recorrer toda la lista-->
            
            <img src="img2/Playstation/Bloodborne.webp" class="card-img-top" alt="..." />

            <div class="card-body cardjuegos" >
              <h5 class="card-title text-center">Bloodborne PS4</h5>
              <p class="card-text text-center" style="font-weight: bold; font-size: 17px;"> 
                19.990 CLP     
                
              </p>
              <div class="container bg-light">
                <div class="col-md-12 text-center">
                  <a href="https://www.eneba.com/latam/bloodborne-collector-s-edition-playstation-4" target="_blank">
                    <button type="button" class="btn btn-light">Visitar</button>
                  </a>
          
                </div>
              </div>
            </div>
          
          </div>
        </div>
        {%endblock catalogo%}
      </div> 
     
    </div>

     
     <!--paginas-->
     <div style="margin-top: 50px ;"> 
       <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center ">
            <li class="page-item disabled">
              <a class="page-link">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>
          </ul>
        </nav>
     </div>
  

    <div></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
