{% extends 'PrayTheNews/PlantillaMenuPrincipal.html' %}
    {%load static%}

{%block fecha1%}
   1 de Abril del 2022
{%endblock fecha1%}
                        
                        
                    
{%block imagen1%}
               <img src="img/hogwarts-legacy-1-1601466696.jpg" class="card-img-top" alt="...">
{%endblock imagen1%}

                           
{%block noticia1%}
  <a href="NoticiaHogwartsLegacy.html" class="color_enlace"><h5 class="card-title"> Hogwarts Legacy conjura su encantamiento en un gameplay con ventana de lanzamiento.</h5></a>  
  <p class="card-text">El Videojuego de la saga de harry potter asombra a todos con nuevo trailer mostrando las caracteristicas que va a tener el videojuego, Hogwarts Legacy es un RPG de acción inmersivo en mundo abierto que se inspira de los libros de la saga Harry Potter a cargo de Avalanche Software y Warner Bros. Tu personaje es un alumno o alumna del famoso colegio que tiene la clave de un antiguo secreto que amenaza con destruir el mundo mágico.</p>
  <p class="card-text"><small class="text-muted">31/03/2022 14:11</small></p>
{%endblock noticia1%}


{%block imagen2%}
  <img src="img/fotosMenu/1648746202_067719_1648746405_noticia_normal_recorte1.jpg" class="card-img-top" alt="...">
{%endblock imagen2%}
                              
{%block noticia2%}
     <a href="#" class="color_enlace"> <h5 class="card-title">Konami abre la web del 35 aniversario de Metal Gear</h5></a>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     <p class="card-text"><small class="text-muted">25/03/2022 14:31</small></p>
{%endblock noticia2%}     
                                
{%block imagen3%}
    <img src="img/fotosMenu/1648753972_532913_1648754153_portada_normal_recorte1.jpg" class="card-img-top" alt="...">
{%endblock imagen3%}
                             
{%block noticia3%}
    <a href="" class="color_enlace"><h5 class="card-title">El E3 2022 se cancela oficialmente</h5></a>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     <p class="card-text"><small class="text-muted">20/03/2022 14:49</small></p>
 {%endblock noticia3%}
                             
                            {%block analisis1%}
                            <p class=" fechas1">Analisis por <a href="https://latam.ign.com/" class="color_enlace">Pablo Jara</a></p>
                            <h3 class="mb-0 titulosanalisis">Blasphemous</h3>
                            <div class="mb-1 fechas1">12 de marzo</div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="PaginaAnalisis-Blasphemous .html" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis1%}
                        
                            {%block imagenA1%}
                            <img class="bd-placeholder-img" src="img/840_560.jpeg" alt="" width="380" height="200">
                            {%endblock imagenA1%}
                      
                            {%block analisis2%}
                            <p class="fechas1">Analisis por <a href="MenuPerfilUsu.html" class="color_enlace">Jose Perez</a></p>
                            <h3 class="mb-0 titulosanalisis">Tunic</h3>
                            <div class="mb-1 fechas1">19 de marzo</div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="PaginaAnalisis-TUNIC .html" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis2%}
                       
                            {%block imagenA2%}
                            <img class="bd-placeholder-img" src="img/tunic_fox.0.jpeg" alt="" width="380" height="200">
                            {%endblock imagenA2%}
                     
                            {%block analisis3%}
                            <p class="fechas1">Analisis por <a href="https://latam.ign.com/" class="color_enlace">Jesus Bella</a></p>
                            <h3 class="mb-0 titulosanalisis">Elden Ring</h3>
                            <div class="mb-1 fechas1">15 de marzo </div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="#" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis3%}
                      
                            {%block imagenA3%}
                            <img class="bd-placeholder-img" src="img/gm-d9aca072-2f2d-49a5-ae25-0e2504921135-elden-ring-4k-screenshot.jpg" alt="" width="380" height="200">
                            {%endblock imagenA3%}
                       

                            {%block lanzamiento%}
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">DEATH STRANDING DIRECTOR'S CUT</div>
                                <div class="minititulos1">Fecha de lanzamiento: 30 de marzo</div> 
                              </div>
                              
                              <img src="img/fotos_lanzamientos/730783_256x356.jpg " alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary text-dark">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">LEGO STAR WARS: THE SKYWALKER SAGA</div>
                                <div class="minititulos1">Fecha de lanzamiento: 5 de abril </div>
                                
                              </div>
                              <img src="img/fotos_lanzamientos/631151_123x150.jpg " alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">CHRONO CROSS: THE RADICAL DREAMERS EDITION 
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 7 de abril</div> 
                              </div>
                              <img src="img/fotos_lanzamientos/732234_123x200.jpg" alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold minititulos2">TORMENTED SOULS
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 14 de abril</div>  
                                
                                </div>
                                <img src="img/fotos_lanzamientos/708229_123x203.jpg" alt="" class="formatoImagenes">
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold minititulos2">KING ARTHUR: KNIGHT'S TALE
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 26 de abril</div>
                                
                                </div>
                                <img src="img/fotos_lanzamientos/733773_123x185.jpg" alt="" class="formatoImagenes">
                              </li>
                              {%endblock lanzamiento%}
                          


                        {%block DesLanzamiento%}
                            <h1>Todas las fechas de lanzamiento de 2022</h1>
                            <p style="margin-top: 60px;"> 2022 ya está aquí, así que es buen momento para echar un vistazo a todo lo que está por venir en este año.</p>
                            <p> En este artículo hemos recopilado todas las fechas de lanzamiento de los videojuegos que llegarán a lo largo de 2022. Si buscas los títulos que llegarán en el futuro, <a href="Lanzamientos.html" class="color_enlace1"> aquí tienes todos los lanzamientos de 2022</a>.</p>
                            <p> Son fechas de lanzamiento confirmadas para juegos de PC, PlayStation 4, PlayStation 5, Nintendo Switch, Xbox One, Xbox Series S y Xbox Series X. Los días indicados corresponden a fechas occidentales, ya sean americanas, europeas o mundiales.</p>
                            <p> Por supuesto iremos actualizando la lista regularmente para reunir la máxima cantidad de juegos, para que puedan consultar.</p>
                        {%endblock DesLanzamiento%}
                        


                
                                      {%block Catalogo1%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - horizon.jpg"  class="d-block w-100 formatoSlider" alt="...">
                                    {%endblock Catalogo1%}

                                      {%block Catalogo2%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - demons souls.jpg" class="d-block w-100 formatoSlider" alt="...">
                                    {%endblock Catalogo2%}
                                 
                                      {%block Catalogo3%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - sackboy.jpg" class="d-block w-100 formatoSlider" alt="...">
                                        {%endblock Catalogo3%}
                             
        
