<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite No Building</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="EstiloMenu.css" rel="stylesheet" type="text/css">
    <script src="../js/Comentarios.js"></script>
</head>

<body>
 <!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../img/logo_small.png" alt="" width="100"></a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
  <div id="MenuNavegacion" class="collapse navbar-collapse">
  <ul class="navbar-nav ms-3">
  <li class="nav-item">
                <a class="nav-link active" href="../MenuPrincipalTerminado.html">Inicio</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuNoticias.html">Noticias</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuAnalisis.html">Analisis</a>
                
            </li>
  
  
            
  
            <li class="nav-item">
                <a class="nav-link" href="../Lanzamientos.html">Lanzamientos</a>
              </li>
    
              <li class="nav-item">
                  <a class="nav-link" href="../catalogoPc.html">Catalogo</a>
              </li>
    
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../LoginUsuario.html">Conectate</a></li>
                  <li><a class="dropdown-item" href="../Registro de usuario(Listo).html">Registrate</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item disabled" href="#">Administrador</a></li>
  
                  
                  
                </ul>
            </li>
  
  
  </ul>
        
  </div>
  </nav>

    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, NoticiasRelevantes">
                <header>
                    <div style="float: right; " class="Fechas"> 27 de marzo del 2022</div>
                    <h1></h1>

                </header>
                <div class="row justify-content-center pt-5 mt-5 mr-1">
                    <div class="card mb-3 carta  ">
                        <img src="../img/7up-3840x2160-c93d04c02c26.jpg"
                            class="card-img-top " alt="...">
                        <div class="card-body">
                            <h1 class="card-title">El nuevo modo de juego de Fortnite</h1>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>


                </div>

                <article>
                    <h3>FORTNITE ZERO BUILD: TOMA LA OFENSIVA EN ESTE BATTLE ROYALE SIN COMPILACIÓN</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                ¡La batalla ha cambiado! Battle Royale sin compilación llega a Fortnite con el
                                lanzamiento de Fortnite Zero Build .
                            </p>
                            <p>


                                Zero Build es una prueba pura de armas, elementos y habilidades transversales. Zero
                                Build se puede encontrar en la página Descubrir como listas de reproducción Solo, Duos,
                                Trios y Squads. (Acceda a la página Descubrir haciendo clic en el botón "CAMBIAR" arriba
                                de "¡JUGAR!" en el Lobby).
                            </p>
                            <p>
                                Sin construir, todos los jugadores tienen el Overshield recargable como su primera línea
                                de defensa en Zero Build. Sube la cremallera de los ascendentes para acceder a los
                                dirigibles o usa Mantling para obtener terreno elevado sobre tus oponentes. ¡No te
                                olvides de hacer Sprint entre coberturas en tu camino hacia un Victory Royale!
                            </p>




                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/481aa-16415819009915-1920.avif" alt="" class="img-fluid">
                        </div>
                    </div>

                    <h3>¿Qué esperar del modo Fornite No-Building?</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                Este modo Fortnite No Building fue filtrado originalmente por varios mineros de datos
                                dedicados a Fortnite . Uno compartió capturas de pantalla del modo Fortnite No Build
                                Battle Royale disponible para jugar en solitario, mientras que otro reveló que los modos
                                sin construcción estarían disponibles después del evento de tiempo limitado y que había
                                pantallas de carga con consejos que decían "En modos con construcción habilitada". …”
                                Como los rumores eran ciertos, no sorprende que Epic Games ya estuviera bastante
                                preparado para hacer del modo sin construcción una opción permanente.
                            </p>
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/13br-evergreens-blue-newsheader-1920x1080-864336340.jpg" alt="" class="img-fluid">
                        </div>
                    </div>



                </article>

                <div class="col-md-6 ">
                    <div class="col-md-4">
                        
                            <h4>Comentarios</h4>
                        
                    </div>
                    <div id="result">
    
    
    
    
    
    
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label> Nombre</label>
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea id="comment" class="form-control" rows="4" maxlength="45" ></textarea></label>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <button type="button" class="btn btn-primary" onclick="commentBox();">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


        </div>

























    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>

</html>