

<!--navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
  <div class="container-fluid">
      <a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div id="MenuNavegacion" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3">
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>

          </li>


        {%if c_usuario %}
          <li class="nav-item dropdown">
            
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  style="padding-right: 70px;margin-right: 20px;">
                   {{c_usuario}}
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'PerfilConf' %}">Ver Perfil</a></li>

                  <li><a class="dropdown-item" href="{% url 'Logout' %}">Desconectarse</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
              </ul>
          </li>
        {% else %}
          <li class="nav-item dropdown">  
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            style="padding-right: 70px;margin-right: 20px;">
            Conectate
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Inicia sesion</a></li>
              <li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
              </ul>
          </li>
        {%endif%}

      </ul>

  </div>
</nav>

  <!-- navbar para las sub paginas se remplaza la funcion de inicio de seccion por un link normal a la cuenta-->

  <!--Subnavbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
  <div class="container-fluid">
      <a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div id="MenuNavegacion" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3">
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>

          </li>

          <li class="nav-item">
              <a class="nav-link" href="{%url 'PerfilConf'%}">Perfil</a>
          </li>

      </ul>

  </div>
</nav>

    
 <!-- Footer -->
 <footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Conectate con nosotros mediante nuestras redes sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">

                    </h6>
                    <img src="" alt="" class="logop">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Terminos Legales
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Terminos y Condiciones</a>
                    </p>
                    <p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Direccion
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>

                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        praythenews@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
                    <p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->






















        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>



</body>

</html>