<!DOCTYPE html>
<html lang="en">

<head>
	{%load static%}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PrayTheNews</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'PrayTheNews/css/RegistroUsuario.css'%}">

	

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	
</head>

<body>

<!--navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
	<div class="container-fluid">
		<a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
  
	<div id="MenuNavegacion" class="collapse navbar-collapse">
		<ul class="navbar-nav ms-3">
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>
  
			</li>
  
  
		  {%if c_usuario %}
			<li class="nav-item dropdown">
			  
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					style="padding-right: 70px;margin-right: 20px;">
					 {{c_usuario}}
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'PerfilConf' %}">Ver Perfil</a></li>
  
					<li><a class="dropdown-item" href="{% url 'Logout' %}">Desconectarse</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
				</ul>
			</li>
		  {% else %}
			<li class="nav-item dropdown">  
			  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
			  style="padding-right: 70px;margin-right: 20px;">
			  Conectate
			  </a>
			  <ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Inicia sesion</a></li>
				<li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
				</ul>
			</li>
		  {%endif%}
  
		</ul>
  
	</div>
</nav>
  




	<div class="container" style="margin-bottom: 70px;">
		<div class="row justify-content-center pt-5 mt-5 mr-1">
			<div class="col-md-12 formulario">
				<div id="mensaje_error" class="al_error"></div>
            
			{% if messages %}
            {% for x in messages %}
            <div class="alert alert-warning" role="alert" id="Verde">
                <center>{{ x }}</center>
            </div>
            {% endfor %}
            {% endif %}
            


				<form action="{% url 'RegistroUsuarios' %}" method="POST"  class="row g-3 col-lg-6 offset-lg-3" id="formulario" name="formulario"> 
					{% csrf_token %}
					<div class="form-group text-center">
						<h1>Registro de Usuario</h1>
					</div>

					<div class="col-md-6">
						<!-- Grupo: Usuario -->
						

						<div class="formulario__grupo" id="grupo__usuario">
							<label for="usuario" class="formulario__label">Nombre Usuario</label>
							<div class="formulario__grupo-input">

								<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="ElDonChaparro"
          						 minlength="4" maxlength="15"  pattern="[A-Za-z0-9_?]+" required />

							<p>El NickName tiene que ser de 4 a 15 dígitos. Solo puede
								contener
								numeros y letras.</p>	
							</div>
							
						</div>


					</div>

					<div class="col-md-6">
						<!-- Grupo: Nombre -->
						<div class="formulario__grupo" id="grupo__nombre">
							<label for="nombre" class="formulario__label">Nombre y Apellido</label>
							<div class="formulario__grupo-input">
		
								<input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="John Doe"
								 maxlength="40" required pattern="[A-Za-z ?]+" required />
								<p>El nombre solo puede contener letras y un maximo de 40 digitos.</p>
							</div>
							
						</div>
					</div>


					<!-- Grupo: Correo Electronico -->
					<div class="formulario__grupo" id="grupo__correo">
						<label for="correo" class="formulario__label">Correo Electrónico</label>
						<div class="formulario__grupo-input">
							<input type="email" class="formulario__input" name="correo" id="correo" maxlength="40"
								placeholder="correo@correo.com" required>
						</div>
						<p>El correo solo puede contener 40 caracteres</p>
					</div>




					<div class="col-md-6">
						<!-- Grupo: Contraseña -->
						<div class="formulario__grupo" id="grupo__password">
							<label for="password" class="formulario__label">Contraseña</label>
							<div class="formulario__grupo-input">
								<input type="password" class="formulario__input" name="password" id="password" minlength = "4" maxlength="16" required>
								
							</div>
						<p>La Contraseña debe tener como minimo 4 y como maximo 16 </p>

						</div>



					</div>


					<div class="col-md-6">
						<!-- Grupo: Contraseña 2 -->
						<div class="formulario__grupo" id="grupo__password2">
							<label for="password2" class="formulario__label">Repetir Contraseña</label>
							<div class="formulario__grupo-input">
								<input type="password" class="formulario__input" name="password2" id="password2" required>
							<p></p>	
							</div>


							
						</div>



					</div>










					<!-- Grupo: Terminos y Condiciones -->
					<div class="formulario__grupo" id="grupo__terminos">
						<label class="formulario__label">
							<input class="formulario__checkbox" type="checkbox" required>
							Acepto los Terminos y Condiciones
						</label>
					</div>

					

					<div class="formulario__grupo formulario__grupo-btn-enviar">
						<button type="button" class="formulario__btn btn-light" value ="enviar" id="enviar" onclick="validarContra()">Registrarme</button>
						
							
								
					</div>
				</form>
				
			</div>
		</div>
	</div>





	<!-- Footer -->
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-dark text-muted">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Get connected with us on social networks:</span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-google"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-github"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>Company name
						</h6>
						<img src="" alt="" class="logop">
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Terminos Legales
						</h6>
						<p>
							<a href="#!" class="text-reset">Terminos y Condiciones</a>
						</p>
						<p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Direccion
						</h6>
						<p>
							<a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Contact
						</h6>

						<p>
							<i class="fas fa-envelope me-3"></i>
							praythenews@example.com
						</p>
						<p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
						<p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:
			<a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
	


	
	

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

	

	<script src="{% static 'PrayTheNews/js/Registros/RegistroUsuarios.js' %}"></script>   
	
</body>




</html>