{%extends 'PrayTheNews/PlantillaNoticia.html'%}
{%load static%}



{%block Titulo%}
<title>{{titulo}}</title>
{%endblock Titulo%}

{%block imagen1%}
<img src="{{img1}}" class="card-img-top " alt="...">
{%endblock imagen1%}

{%block encabezado%}
<h1 class="card-title">{{encabezado}}</h1>
{%endblock encabezado%}

{%block subtitulo1%}
<h3>{{subtitulo1}}</h3>
{%endblock subtitulo1%}

{%block cuerpo1%}
<p>
    {{cuerpo1}}
</p>
{%endblock cuerpo1%}

{%block imagen2%}
<img src="{{img2}}" alt="" class="img-fluid">
{%endblock imagen2%}


{%block subtitulo2%}
<h4>{{subtitulo2}}</h4>
{%endblock subtitulo2%}

{%block cuerpo2%}
<p>
    {{cuerpo2}}
</p>
{%endblock cuerpo2%}

{%block imagen3%}
<img src="{{img3}}" alt="" class="img-fluid">
{%endblock imagen3%}

{%block subtitulo3%}
<h4>{{subtitulo3}}</h4>
{%endblock subtitulo3%}

{%block cuerpo3%}
<p>
    {{cuerpo3}}
</p>
{%endblock cuerpo3%}

{%block subtitulo4%}
<h4>{{subtitulo4}}</h4>
{%endblock subtitulo4%}

{%block cuerpo4%}
<p>
    {{cuerpo4}}
</p>
{%endblock cuerpo4%}

{%block imagen4%}
<img src="{{img4}}" alt="" class="img-fluid">
{%endblock imagen4%}
