{% extends 'PrayTheNews/Autor/PlantillaAutor.html' %}

{% load static %}

{% block navbar %}

<!--navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
    <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>
  
            </li>
  
  
          {%if c_usuario %}
            <li class="nav-item dropdown">
              
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    style="padding-right: 70px;margin-right: 20px;">
                     {{c_usuario}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'PerfilConf' %}">Ver Perfil</a></li>
  
                    <li><a class="dropdown-item" href="{% url 'Logout' %}">Desconectarse</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </li>
          {% else %}
            <li class="nav-item dropdown">  
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              style="padding-right: 70px;margin-right: 20px;">
              Conectate
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Inicia sesion</a></li>
                <li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
                </ul>
            </li>
          {%endif%}
  
        </ul>
  
    </div>
  </nav>
{% endblock %}

{% block FotoAutor %}


<img src="{{ us.fotoUsuario.url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">


{% endblock %}



{% block autor %}

{{ us.nickname }}

{% endblock %}




{% block rol %}

{{ us.rol }}

{% endblock %}


{% block CantAnalisis %}
{{ count }}
{% endblock %}

{% block CantNoticias %}
{{ countN }}
{% endblock %}



{% block linkTwitch %}

href="{{ us.linkTwitch }}"

{% endblock %}


{% block linkTwitter %}

href="{{ us.linkTwitter }}"

{% endblock %}



{% block content %}

{% for article in articlesA %}



    <div class="card" style="width: 16rem; margin-bottom: 40px;">

        {% if article.fotoPortada %}
        <img src="{{ article.fotoPortada.url }}" alt="Responsive image" class="img-fluid" >

        {% endif %}

        <div class="card-body">
            <h5 class="card-title" style="color: #1DA1F2;">{{ article.tituloPubli |truncatechars:35 | safe }}</h5>
            <p class="card-text" style="color: black;">{{ article.descripcion |truncatechars:50 | safe }}.</p>
            <a href="{{ article.get_absolute_url }}" class="btn btn-secondary btn-sm">Ver Publicacion</a>
        </div>
    </div>


{% endfor %}


{% endblock %}







