{% extends 'PrayTheNews/NoticiasListo/Individual/PlantillaNoticia.html' %}
{% load static %}


{% block portadaP %}

<div class="row justify-content-center pt-5 mt-5 mr-1">
    <div class="card mb-3 carta  ">
        <img src="{{ noticia.fotoPortada.url }}" class="card-img-top " alt="...">
        <div class="card-body">
            <h1 class="card-title">
                {{ noticia.tituloPubli }}
            </h1>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">
                {{ noticia.fechaP }}
            </small></p>
        </div>
    </div>


</div>

{% endblock %}



{% block parrafo1 %}


{% for i in P2 %}

<h3>
    {{ i.tituloParrafo}}
</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                {{ i.descripcion }}
                            </p>
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="{{ i.fotoParrafo.url }}"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    

{% endfor %}


{% endblock %}



{% block comentarios %}

{% for i in comentario %}

<div class="col-md-2">

    <img src="{{ i.usuario.fotoUsuario.url }}" alt="Avatar" class="avatar">

</div>



<div class="col-md-6">

    <a href="{{ i.get_absolute_url2 }}" class="color_enlace1"
    style="color: #1DA1F2; font-weight: bold; font-size: 25px;">
    {{ i.usuario.nickname }}
    </a>


    <p>{{ i.descripcion |truncatechars:200 | safe }}</p>

</div>


<div class="col-md-4">

    <p class="card-text fechas2"> <small style="font-size: 18px;">{{ i.fechaComentario }} </small></p>

</div>

<div class="sep-md"></div>


{% endfor %}



{% endblock %}
