<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant lo pierde todo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="EstiloMenu.css" rel="stylesheet" type="text/css">
    <script src="../js/Comentarios.js"></script>
</head>

<body>
<!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../img/logo_small.png" alt="" width="100"></a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
  <div id="MenuNavegacion" class="collapse navbar-collapse">
  <ul class="navbar-nav ms-3">
  <li class="nav-item">
                <a class="nav-link active" href="../MenuPrincipalTerminado.html">Inicio</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuNoticias.html">Noticias</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuAnalisis.html">Analisis</a>
                
            </li>
  
  
            
  
            <li class="nav-item">
              <a class="nav-link" href="../Lanzamientos.html">Lanzamientos</a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="../catalogoPS.html">Catalogo</a>
            </li>
  
  
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../LoginUsuario.html">Conectate</a></li>
                  <li><a class="dropdown-item" href="../Registro de usuario(Listo).html">Registrate</a></li>
                  <li><a class="dropdown-item" href="../Cuenta-perfil-usuario.html">Ver Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../CuentaAdmin-EditarUsuarios.html">Administrador</a></li>
                  
  
                  
                  
                </ul>
            </li>
  
  
  </ul>
        
  </div>
  </nav>
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, NoticiasRelevantes">
                <header>
                    <div style="float: right; " class="Fechas"> 27 de marzo del 2022</div>
                    <h1></h1>

                </header>
                <div class="row justify-content-center pt-5 mt-5 mr-1">
                    <div class="card mb-3 carta  ">
                        <img src="../img/Valorant-Two-German-leagues-coming-next-year.jpg" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h1 class="card-title"> 

                                La solución de Riot a los problemas en el Deathmatch de Valorant</h1>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>


                </div>

                <article>
                    <h3>Valorant tendrá mayores castigos para la toxicidad en el chat de texto y voz</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                Riot Games se ha comprometido a mejorar la experiencia de Valorat y luchar contra la
                                toxicidad en el chat de texto y voz de su shooter gratuito, con mayores castigos y
                                actuaciones más rápidas. "Si bien es cierto que nunca podremos evitar que ciertos
                                individuos opten por comportarse así, sí que podemos intentar disuadiros de amenazar,
                                acosar o insultar a otros a través de nuestros sistemas del juego. También nos parece
                                que podemos promover el comportamiento responsable", dice la compañía.
                            </p>
                            <p>


                                La lista de medidas a tomar incluyen sanciones más estrictas dentro de los sistemas
                                existentes. "Algunos de los sistemas de detección y sanción de toxicidad eran algo más
                                'conservadores' de lo que nos gustaría inicialmente, para que pudiéramos recopilar datos
                                sin tener miedo de cometer errores de detección. Ahora confiamos mucho más en nuestro
                                sistema de detección, así que comenzaremos a aumentar gradualmente la gravedad y la
                                progresión de dichas sanciones. Esto debería resultar en una gestión más ágil de las
                                personas problemáticas", comenta Riot.

                            </p>
                            <p>
                                También se crea un programa de pruebas regional. "Nuestro equipo turco ha puesto en
                                marcha recientemente un programa local que pretende reducir la toxicidad de la región.
                                Consiste, básicamente, en crear una línea operativa con agentes de asistencia al jugador
                                que revisan los informes entrantes relacionados con el comportamiento de los jugadores y
                                toman medidas siguiendo una guía preestablecida. Está en fase de beta temprana pero, si
                                vemos que promete, es posible que una versión de ese sistema acabe llegando al resto de
                                regiones."
                            </p>
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/EGS_VALORANT_RiotGames_S1_2560x1440-160cacc798ef1693cc0a339e869f1761.jpg"
                                alt="" class="img-fluid">
                        </div>
                    </div>

                    <h4>¿CUÁNDO PODRÍA EXTINGUIRSE LA COMUNIDAD DE VALORANT?</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">


                            <p>
                                En una publicación de los diarios de los desarrolladores, Donlon admitió que trabajan en
                                un agente. No obstante, se lo tomarán con calma. Durante el acto 2 no se añadirá un mapa
                                ni personaje, sino que trabajarán en el balance del título.
                            </p>
                            <p>

                                A inicios de mayo de este año, llegaría el parche del acto 3 pero el agente llegaría
                                recién cerca del 19 de ese mes. Por lo pronto se desconoce cuál será su rol en el
                                shooter, ay que recientemente se añadió a una duelista: Neon.
                            </p>
                            <p>

                                Se cree que podría tratarse de un controlador para darle variedad a la plantilla de
                                personajes. Recordemos que Brimstone y Omen son de los menos usados en el shooter y
                                necesitan también una revisión. Se espera también que Riot Games vaya adelantando los
                                cambios a Yoru, uno de de los personajes que menos se ve en el competitivo.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <img src="../img/Z3REASXJ6BCQJE5DIZZN2NNISE.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h4>¿Podría la llegada a consolas salvar el juego?</h4>
                            <p>

                                Aunque la llegada de VALORANT a consolas no es noticia nueva, el perfil de “ShiinaVLR”
                                -conocido por realizar filtraciones- alertó que se encontraron archivos en el FPS que
                                hacen referencia a Xbox y a PlayStation. En particular, hacen alusión a la conexión a
                                Xbox Live y PSN. La introducción de estos archivos al juego anticipa que su versión para
                                consolas podría estar más cerca de lo anticipado y que los jugadores contarían con la
                                posibilidad de probar la experiencia en nuevos dispositivos.
                            </p>
                            <p>

                                El último comentario que Riot Games hizo sobre llevar VALORANT a consolas fue realizado
                                en septiembre del 2020, pero después un silencio prolongado, ahora la llegada podría ser
                                inminente. En aquel entonces aseguraron que el equipo ya se encontraba trabajando en los
                                ports. Su competidor directo, CS:GO, llegó a Xbox en 2012 y tuvo una recepción general
                                positiva, pero igual quedó lejos de vivir a la altura de la experiencia para PC.
                            </p>
                            <p>


                                Así como muchos seguidores del título estarán interesados en esta propuesta, también
                                existe un sector que espera ansiosamente por una versión para móviles. VALORANT podría
                                ser el primer shooter táctico del estilo en lograr adaptar la experiencia a otras
                                plataformas, pero hasta el momento el mouse y teclado permanece como la opción exclusiva
                                y única en garantizar la experiencia fiel a su propuesta.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <img src="../img/Val_Banner_AntiCheat_Fall2021_1920x1080.webp" alt="" class="img-fluid"
                                style="margin-top: 50px;">
                        </div>
                    </div>
                </article>
                <div class="col-md-6 ">
                    <div class="col-md-4">
                        
                            <h4>Comentarios</h4>
                        
                    </div>
                    <div id="result">
    
    
    
    
    
    
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label> Nombre</label>
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea id="comment" class="form-control" rows="4" maxlength="45" ></textarea></label>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <button type="button" class="btn btn-primary" onclick="commentBox();">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    


        </div>

























    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>

</html>