<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se muere Pou</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/Comentarios.js"></script>
    

    <link href="EstiloMenu.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../img/logo_small.png" alt="" width="100"></a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
  <div id="MenuNavegacion" class="collapse navbar-collapse">
  <ul class="navbar-nav ms-3">
  <li class="nav-item">
                <a class="nav-link active" href="../MenuPrincipalTerminado.html">Inicio</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuNoticias.html">Noticias</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuAnalisis.html">Analisis</a>
                
            </li>
  
  
            
  
            <li class="nav-item">
              <a class="nav-link" href="../Lanzamientos.html">Lanzamientos</a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="../catalogoPS.html">Catalogo</a>
            </li>
  
  
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../LoginUsuario.html">Conectate</a></li>
                  <li><a class="dropdown-item" href="../Registro de usuario(Listo).html">Registrate</a></li>
                  <li><a class="dropdown-item" href="../Cuenta-perfil-usuario.html">Ver Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../CuentaAdmin-EditarUsuarios.html">Administrador</a></li>
                  
  
                  
                  
                </ul>
            </li>
  
  
  </ul>
        
  </div>
  </nav>

    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, NoticiasRelevantes">
                <header>
                    <div style="float: right; " class="Fechas"> 27 de marzo del 2022</div>
                    <h1></h1>

                </header>
                <div class="row justify-content-center pt-5 mt-5 mr-1">
                    <div class="card mb-3 carta  ">
                        <img src="../img/TJFPDBGQRBCTZJ2LYSIZHJUOUA.jpg" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Joven Muy triste por la salida del juego POU de la Google Store</h1>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>


                </div>

                <article>
                    <h3>Joven perdió sus razones de vivir por no poder seguri juegando POU</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                es una de las frases más leídas tras la partida de una app clásica. ¿Cuál fue el primer
                                juego que descargaste en tu celular? Si perteneces a la generación de los que tuvo su
                                primero smartphone durante la década del 2010, entonces eres uno de los que bajó desde
                                Google Play el famoso juego de la mascota virtual llamada Pou.

                                El muñequito que tenía forma de mazapan fue eliminado por completo de la tienda de
                                Google, al parecer, porque ya casi nadie la descargaba en sus dispositivos móviles.

                                Inspirado en Tamagotchi, la mascota virtual creada en 1996 en Japón, el desafío de Pou
                                es cuidarlo, alimentarlo y entretenerlo; es por eso que contaba con una gran cantidad de
                                funciones y de actividades.

                                Lo cierto es que cientos de usuarios reaccionaron en redes sociales a la noticia, y se
                                mostraron en contra de la decisión de retirarlo. "Hoy estamos de luto", escribió un
                                usuario, a lo que otro agregó: "Se terminó una era".

                                “¿Tienes lo que se necesita para cuidar de tu mascota alienigena?! Alimentalo, limpialo,
                                juega con él y observalo crecer mientras sube de nivel y desbloquea diferentes fondos de
                                habitación y trajes para disfrutar tu y tu Pou. ¿Cómo vas a personalizar a tu Pou?”, así
                                era presentado por Google Play.

                                La noticia se dio a conocer por su propio creador Paul Salameh, quien anunció
                                oficialmente la desvinculación.

                                Como consecuencia, miles de usuarios se volcaron a buscar Pou en Google Play y se dieron
                                cuenta de que ya no estaba. El final fue el 3 de diciembre del 2019. Aunque si todavía
                                tienes instalado el pequeño juego en uno de tus dispositivos, funcionará como siempre
                                hasta que se ponga fin a los servidores.</p>
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/236801_crop1616262590308.jpg_853719169.jpg" alt="" class="img-fluid">
                        </div>
                    </div>


                </article>

                <div class="col-md-6 ">
                    <div class="col-md-4">
                        
                            <h4>Comentarios</h4>
                        
                    </div>
                    <div id="result">
    
    
    
    
    
    
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label> Nombre</label>
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea id="comment" class="form-control" rows="4" maxlength="45"></textarea></label>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <button type="button" class="btn btn-primary" onclick="commentBox(); filtro();" >Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    


            </div>


          
























        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>



</body>

</html>