<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battlefield 2042</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="EstiloMenu.css" rel="stylesheet" type="text/css">
    <script src="../js/Comentarios.js"></script>
    </head>

<body>
<!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../img/logo_small.png" alt="" width="100"></a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
  <div id="MenuNavegacion" class="collapse navbar-collapse">
  <ul class="navbar-nav ms-3">
  <li class="nav-item">
                <a class="nav-link active" href="../MenuPrincipalTerminado.html">Inicio</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuNoticias.html">Noticias</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuAnalisis.html">Analisis</a>
                
            </li>
  
  
            
  
            <li class="nav-item">
                <a class="nav-link" href="../Lanzamientos.html">Lanzamientos</a>
              </li>
    
              <li class="nav-item">
                  <a class="nav-link" href="../catalogoPc.html">Catalogo</a>
              </li>
    
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../LoginUsuario.html">Conectate</a></li>
                  <li><a class="dropdown-item" href="../Registro de usuario(Listo).html">Registrate</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item disabled" href="#">Administrador</a></li>
  
                  
                  
                </ul>
            </li>
  
  
  </ul>
        
  </div>
  </nav>

    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, NoticiasRelevantes">
                <header>
                    <div style="float: right; " class="Fechas"> 27 de marzo del 2022</div>
                    <h1></h1>

                </header>
                <div class="row justify-content-center pt-5 mt-5 mr-1">
                    <div class="card mb-3 carta  ">
                        <img src="../img/battlefield-2042-steam-refunds.jpg" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h1 class="card-title">El nuevo Batllefield 2042 se declara oficalmente muerto</h1>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>


                </div>

                <article>
                    <h3>¿Se puede considerar a Battlefield 2042 ya un juego muerto o remontará con la Temporada 1?</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                Desde el lanzamiento de Battlefield 2042, los números no son muy buenos y las críticas son feroces. Los jugadores creen que el juego está al borde de la muerte, y no sin razón.
                                No se puede decir que Battlefield 2042 esté viviendo su época dorada. El amado shooter de la comunidad está experimentando una disminución dramática en el interés de los jugadores. Está en caída libre y sigue cayendo. La falta de contenido, los errores y los problemas de comunicación son los principales aspectos que provocan que los jugadores estén dejando de jugar.
                            </p>
                          
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/maxresdefault.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <h4>Una pérdida flagrante de jugadores</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">


                            <p>
                                Según los datos de Steam, el juego ha perdido casi el 85% de sus jugadores (105,397 jugadores en el lanzamiento). Incluso con un fin de semana gratis, el juego no se recuperó y la caída es lo más pequeña posible. Como lo demuestran las estadísticas que se encuentran en Steamdb.info, Battlefield 2042 en Steam no está en su apogeo.
                            </p>
                            <p>


                                Según lo estipulado por Malthae1 en Reddit, Battlefield 2042 se ha convertido en uno de los juegos menos jugados de Steam. Con tan pocos jugadores, está directo en el último lugar y se habla de él como un juego muerto con un número cada vez menor de jugadores.

                            </p>
                            <p>


                                Las razones de esta deserción son la mala gestión del juego, que incluso ahora tiene demasiados errores para que los jugadores lo consideren viable. Se esperan actualizaciones correctivas y se impugnan las acciones tomadas. Para esto último, pensamos en la retirada del modo Rush de Portal. Y eso que se había anunciado como algo permanente.
                            </p>
                        </div>
                        
                    </div>
                    <h4>¿Que ha dicho la desarrolladora?</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 ">
                            <p>
                                Sin ninguna adición de contenido o incluso corrección, la cantidad de jugadores en Battlefield 2042 no dejará de disminuir. Sin duda, la temporada 1 puede salvar el juego, pero todavía tenemos que esperar para ver qué ofrecerá.
                                La misma DICE a dicho en recientes entrevistas que estan trabajando en su siguiente entrega, haciendo como si Battlefield 2042 nunca hubiera existido.
                            </p>
                          
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/Battlefield 2042_1.jpg" alt="" class="img-fluid">
                        </div>

                    </div>
                   
                </article>

                <div class="col-md-6 ">
                    <div class="col-md-4">
                        
                            <h4>Comentarios</h4>
                        
                    </div>
                    <div id="result">
    
    
    
    
    
    
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label> Nombre</label>
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea id="comment" class="form-control" rows="4"  maxlength="45"></textarea></label>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <button type="button" class="btn btn-primary" onclick="commentBox();">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    

        </div>

























    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>

</html>