<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Forbidden West muerto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="EstiloMenu.css" rel="stylesheet" type="text/css">
    <script src="../js/Comentarios.js"></script>

</head>

<body>
<!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../img/logo_small.png" alt="" width="100"></a>
        <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
  <div id="MenuNavegacion" class="collapse navbar-collapse">
  <ul class="navbar-nav ms-3">
  <li class="nav-item">
                <a class="nav-link active" href="../MenuPrincipalTerminado.html">Inicio</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuNoticias.html">Noticias</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="../MenuAnalisis.html">Analisis</a>
                
            </li>
  
  
            
  
            <li class="nav-item">
              <a class="nav-link" href="../Lanzamientos.html">Lanzamientos</a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="../catalogoPS.html">Catalogo</a>
            </li>
  
  
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="padding-right: 70px;">
                  Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../LoginUsuario.html">Conectate</a></li>
                  <li><a class="dropdown-item" href="../Registro de usuario(Listo).html">Registrate</a></li>
                  <li><a class="dropdown-item" href="../Cuenta-perfil-usuario.html">Ver Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../CuentaAdmin-EditarUsuarios.html">Administrador</a></li>
                  
  
                  
                  
                </ul>
            </li>
  
  
  </ul>
        
  </div>
  </nav>

    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, NoticiasRelevantes">
                <header>
                    <div style="float: right; " class="Fechas"> 27 de marzo del 2022</div>
                    <h1></h1>

                </header>
                <div class="row justify-content-center pt-5 mt-5 mr-1">
                    <div class="card mb-3 carta  ">
                        <img src="../img/horizon-forbidden-west-ps5-playstation-5-1.webp" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Horizon Forbidden West sigue muerto</h1>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>


                </div>

                <article>
                    <h3>Un juego con buenas criticas pero poca popularidad</h3>
                    <div class="row">

                        <div class="col col-md-6 col-sm-12 ">
                            <p>
                                Horizon Forbidden West es el primer lanzamiento importante de un juego exclusivo de
                                PlayStation de 2022 y, hasta ahora, es uno de los juegos nuevos con mejores reseñas del
                                año. Horizon Forbidden West ha obtenido elogios generalizados de los críticos, con
                                elogios por sus gráficos, jugabilidad, historia y más. En Metacritic, Horizon Forbidden
                                West actualmente disfruta de una calificación de crítica respetable de 88 para la
                                versión de PlayStation 5, pero las puntuaciones de los usuarios cuentan una historia
                                diferente.
                            </p>
                            <p>


                                Las reseñas profesionales de Horizon Forbidden West han sido en su mayoría positivas,
                                pero ha habido una avalancha de reseñas negativas de los usuarios dirigidas a las
                                versiones del juego para PS4 y PS5. En este momento, la versión de PS5 tiene una
                                puntuación de usuario de 8.0, lo que no está nada mal, pero parece que el bombardeo de
                                reseñas acaba de comenzar en serio, con el juego teniendo 720 reseñas negativas en el
                                momento de escribir este artículo y contando. , muchos de los cuales consisten en
                                usuarios que le otorgan 0/10 y 1/10.
                            </p>
                            <p>

                                La versión para PS4 de Horizon Forbidden West está recibiendo menos atención, pero
                                todavía está siendo criticada. Al momento de escribir este artículo, la versión PS4 de
                                Horizon Forbidden West tiene una puntuación de usuario de 6.6 con 160 críticas
                                negativas, muchas de las cuales son 0 y 1, al igual que la versión PS5 del juego. Por
                                supuesto, es muy poco probable que las personas que otorgan a Horizon Forbidden West
                                puntajes de revisión tan bajos lo hagan de buena fe, aunque proporcionan "razones" de
                                por qué están tratando de reducir su puntaje de usuario.



                            </p>
                        </div>
                        <div class=" col-md-6 col-sm-12">
                            <img src="../img/horizon-forbidden-west-review-vg247.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <h4>Horizon Forbidden west v/s Elden Ring </h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">


                            <p>
                                Algunos usuarios citan errores de Horizon Forbidden West y describen el juego como "muy
                                defectuoso". Extrañamente, algunas de las reseñas de los usuarios apuntan incluso a los
                                gráficos de Horizon Forbidden West , que por lo demás son universalmente aceptados como
                                excelentes. Otros aclaran sus intenciones, criticando a la protagonista de Horizon
                                Forbidden West , Aloy , por tener una "barba" y criticando el juego por su "ideología
                                sucia del despertar". Una reseña de un usuario dice: "Cometí el error de comprar el
                                primero, no volveré a hacer lo mismo, ya que no ha cambiado de dirección y aún se enfoca
                                en ser políticamente correcto".
                            </p>
                            <p>


                                El gran problema de Horizon fue lanzarlo unas semanas antes de la salida de elden ring,
                                por lo que el juego fue rapidamente olvidado por los jugadores a la salida de elden
                                ring, todos se fueron de horizon para empezar su aventura en elden ring, siendo este ultimo superior en todos los sentidos al juego de horizon, dejandolo en el olvido.

                            </p>

                            
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <img src="../img/Horizon-Forbidden-West-Review-Bombed.webp" alt="" class="img-fluid">
                        </div>
                    </div>

                </article>

                <div class="col-md-6 ">
                    <div class="col-md-4">
                        
                            <h4>Comentarios</h4>
                        
                    </div>
                    <div id="result">
    
    
    
    
    
    
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label> Nombre</label>
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea id="comment" class="form-control" rows="4" maxlength="45"></textarea></label>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <button type="button" class="btn btn-primary" onclick="commentBox();">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    


        </div>

























    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



</body>

</html>