{% extends 'PrayTheNews/Noticias/PlantillaMenuNoticia.html'%}
{%load static%}



{%block miniatura1%}
<img src="{{miniatura1}}" class="img-thumbnail" alt="">
{%endblock miniatura1%}

{%block titulo1%}
<a href="{%url 'NoticiaValorant'%}">
  <h4>{{titulo1}}</h4>
</a>
{%endblock titulo1%}

{%block contenido1%}
<p>{{contenido1}}</p>
{%endblock contenido1%}


{%block miniatura2%}
<img src="{{miniatura2}}" class="img-thumbnail" alt="">
{%endblock miniatura2%}

{%block titulo2%}
<a href="#">
  <h4>{{titulo2}}</h4>
</a>
{%endblock titulo2%}

{%block contenido2%}
<p>{{contenido2}}</p>
{%endblock contenido2%}

{%block miniatura3%}
<img src="{{miniatura3}}" class="img-thumbnail" alt="">
{%endblock miniatura3%}

{%block titulo3%}
<a href="#">
  <h4>{{titulo3}}</h4>
</a>
{%endblock titulo3%}

{%block contenido3%}
<p>{{contenido3}}</p>
{%endblock contenido3%}

{%block miniatura4%}
<img src="{{miniatura4}}" class="img-thumbnail" alt="">
{%endblock miniatura4%}

{%block titulo4%}
<a href="#">
  <h4>{{titulo4}}</h4>
</a>
{%endblock titulo4%}

{%block contenido4%}
<p>{{contenido4}}</p>
{%endblock contenido4%}

{%block miniatura5%}
<img src="{{miniatura5}}" class="img-thumbnail" alt="">
{%endblock miniatura5%}

{%block titulo5%}
<a href="#">
  <h4>{{titulo5}}</h4>
</a>
{%endblock titulo5%}

{%block contenido5%}
<p>{{contenido5}}</p>
{%endblock contenido5%}