
.p1{
    color: #14171A;
    

}

.p2{
    color: #007bff;
}

.p3{
    color: #14171A;
    font-weight: bold; 


}

.wtitulos{
    color: #007bff;
    font-weight: bold;
}


.usuarioC{
    color: #007bff;
    font-weight: bold ;
}