

  .accordion .card {
    color: #424e5d;
    border: 1px solid #dddddd;
  }

  .accordion .card a {
    color: #424e5d;
    text-decoration: none;
  }

  .accordion .card-header {
    background: linear-gradient(#fff, #f1f1f1);
    padding: .75rem 1rem;
    position: relative;
  }

  .accordion .card-header:hover {
    background: linear-gradient(#f1f1f1, #e8e8e8);
  }

  .accordion .card-header h2 {
    font-size: 1rem;
  }

  .accordion .fa {
    width: 20px;
    margin-right: .25rem;
  }

  .accordion .card-header a {
    float: left;
    width: 100%;
    cursor: pointer;
  }

  .accordion .toggle {
    font-size: .8rem;
    line-height: .8rem;
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 14px;
    margin: 0;
  }

  .accordion .toggle:hover {
    opacity: 1;
  }

  .accordion .card-body {
    padding: 0;
  }

  .accordion .list-group-item {
    border-radius: 0;
    border-width: 1px 0 1px 0;
    padding-left: 30px;
    background: #d6dbe0;
    font-weight: 500;
  }

  .accordion .list-group-item:hover {
    background: #007bff;
  }

  .accordion .list-group-item:hover a {
    color: #fff !important;
  }

  .accordion .list-group-item:hover .badge {
    background: #fff;
    color: #007bff;
  }

  .accordion .list-group-item a {
    color: #61656b;
    display: block;
  }

  .accordion .list-group-item .badge {
    float: right;
    min-width: 36px;
  }

  .accordion .rotate {
    transform: rotate(180deg);
  }
