<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'PrayTheNews/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

</head>

<body>


<!--navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
    <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>
  
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="{%url 'Catalogo'%}">Catalogo</a>
            </li>
  
  
            <li class="nav-item">
                <a class="nav-link" href="{%url 'PerfilConf'%}">Perfil</a>
            </li>
  
        </ul>
  
    </div>
  </nav>





    <div class="container" style="margin-bottom: 70px;">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10 formulario3">
                
                                <!--PERFIL USUARIO-->
                                
                                <div class="card">
                                    <div class="card-body">
                                        <a class="btn btn btn-dark ms-1"href="javascript:history.back()">
                                            <-- Volver</a>
                                        <div class="e-profile">
                                            <div class="row">
                                                <div class="col-12 col-sm-auto mb-3">
                                                    <!-- Cambiar contraseña -->
                                                    {% if messages %}
                                                        {% for x in messages %}
                                                        <div class="alert alert-warning" role="alert" id="Verde">
                                                            <center> {{ x }} </center></div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <form action="{% url 'GuardarCambiarContra' %}" method="POST" enctype="multipart/form-data" id="Cambiarcontra" name="Cambiarcontra">
                                                        {% csrf_token %} 

                                                    <div class="col-xxl-6">
                                                        <div class="bg-secondary-soft px-4 py-5 rounded">
                                                            <div class="row g-3">
                                                                <h4 class="my-4">Cambiar Contraseña</h4>
                                                                <!-- Antigua contraseña -->
                                                                <div class="col-md-12">
                                                                    <label for="exampleInputPassword1"
                                                                        class="form-label"
                                                                        id="password">Contraseña actual
                                                                        *</label>
                                                                    <input type="password"
                                                                        class="form-control"
                                                                        name ="contra"
                                                                        id="exampleInputPassword1">
                                                                </div>
                                                                <!-- Nueva contraseña -->
                                                                <div class="col-md-6">
                                                                    <label for="exampleInputPassword2"
                                                                        class="form-label">Nueva Contraseña*</label>
                                                                    <input type="password"
                                                                        class="form-control"
                                                                        name="contra2"
                                                                        id="exampleInputPassword2" minlength = "4" maxlength="16" required>
                                                                        <p style="color: black">La Contraseña debe tener como minimo 4 y como maximo 16 </p>
								
                                                                    </div>
                                                                
                                                                <!-- Confirmar contraseñan -->
                                                                <div class="col-md-6"
                                                                    style="margin-bottom: 40px;">
                                                                    <label for="exampleInputPassword3"
                                                                        class="form-label"> Confirmar
                                                                        Contraseña
                                                                        *</label>
                                                                    <input type="password"
                                                                        class="form-control"
                                                                        name="contra3"
                                                                        id="exampleInputPassword3" minlength = "4" maxlength="16" required>
                                                                </div>

                                                                <div class="col d-flex justify-content-end">
                                                                    <button class="btn btn-dark"
                                                                        type="submit">Guardar
                                                                        Cambios</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                                        
                
            </div>
        </div>
    </div>


 <!-- Footer -->
 <footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Conectate con nosotros mediante nuestras redes sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        
                    </h6>
                    <img src="img/logo_small.png" alt="" class="logop">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Terminos Legales
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Terminos y Condiciones</a>
                    </p>
                    <p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Direccion
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>

                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        praythenews@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
                    <p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->






</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>




</html>