<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Editar Cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "PrayTheNews/css/register.css" %}>
    <link rel="stylesheet" href={% static "PrayTheNews/css/alertas.css" %}>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />


    <style>
        .accordion .card {
            color: #424e5d;
            border: 1px solid #dddddd;
        }

        .accordion .card a {
            color: #424e5d;
            text-decoration: none;
        }

        .accordion .card-header {
            background: linear-gradient(#fff, #f1f1f1);
            padding: .75rem 1rem;
            position: relative;
        }

        .accordion .card-header:hover {
            background: linear-gradient(#f1f1f1, #e8e8e8);
        }

        .accordion .card-header h2 {
            font-size: 1rem;
        }

        .accordion .fa {
            width: 20px;
            margin-right: .25rem;
        }

        .accordion .card-header a {
            float: left;
            width: 100%;
            cursor: pointer;
        }

        .accordion .toggle {
            font-size: .8rem;
            line-height: .8rem;
            cursor: pointer;
            opacity: 0.7;
            position: absolute;
            right: 16px;
            top: 16px;
            width: 14px;
            margin: 0;
        }

        .accordion .toggle:hover {
            opacity: 1;
        }

        .accordion .card-body {
            padding: 0;
        }

        .accordion .list-group-item {
            border-radius: 0;
            border-width: 1px 0 1px 0;
            padding-left: 30px;
            background: #d6dbe0;
            font-weight: 500;
        }

        .accordion .list-group-item:hover {
            background: #007bff;
        }

        .accordion .list-group-item:hover a {
            color: #fff !important;
        }

        .accordion .list-group-item:hover .badge {
            background: #fff;
            color: #007bff;
        }

        .accordion .list-group-item a {
            color: #61656b;
            display: block;
        }

        .accordion .list-group-item .badge {
            float: right;
            min-width: 36px;
        }

        .accordion .rotate {
            transform: rotate(180deg);
        }
    </style>
    <script>
        $(document).ready(function () {
            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).parent(".card").find(".toggle").addClass("rotate");
            }).on('hide.bs.collapse', function () {
                $(this).parent(".card").find(".toggle").removeClass("rotate");
            });
        });
    </script>
    </heaºd>

<body>


    <!-- BARRA NAVEGACIÓN -->
    

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
    <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>
  
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="{%url 'Catalogo'%}">Catalogo</a>
            </li>
  
  
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    style="padding-right: 70px;">
                    Perfil
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Conectate</a></li>
                    <li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
                    <li><a class="dropdown-item" href="{% url 'CuentaUsuario' %}">Ver Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'EditarUsuario' %}">Administrador</a></li>
  
  
  
  
                </ul>
            </li>
  
  
        </ul>
  
    </div>
</nav>
  




    <div class="container" style="margin-bottom: 70px;">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10 formulario3">
                


                                <!--PERFIL USUARIO-->

                                        <div class="container">
                                            
                                                                <div class="card ">
                                                                    <div class="card-body">

                                                                        {% if messages %}
                                                                            {% for x in messages %}
                                                                            <div class="alert alert-warning" role="alert" id="Verde">
                                                                                <center> {{ x }} </center>
                                                                            </div>
                                                                            {% endfor %}
                                                                        {% endif %}

                                                                        <a class="btn btn btn-dark ms-1"href="javascript:history.back()">
                                                                            <-- Volver</a>
                                                                            
                                                                        <!--Formulariooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo--> 
                                                                        <form action="{% url 'GuardarCuenta' %}" method="POST" enctype="multipart/form-data" id="ForEditarCuenta" name="ForEditarCuenta">
                                                                         {% csrf_token %} 

                                                                         
                                                                        <div class="e-profile">

                                                                            <div class="row">

                                                                                <div class="col-12 col-sm-12 col-mb-4">
                                                                                    <div class="mx-auto"
                                                                                        style="width: 140px;">
                                                                                        <div class="d-flex justify-content-center align-items-center rounded"
                                                                                            style="height: 140px; background-color: rgb(233, 236, 239);">
                                                                                            <span
                                                                                                style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                                                                        </div>
                                                                                        <div class="mt-2">
                                                                                            <input type="file"
                                                                                            id="FotoU"
                                                                                            name="FotoU">
                                                                                        
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                                 
                                                                                <div class="col-12 col-sm-6 col-mb-4">
                                                                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                                                        <h4
                                                                                            class="pt-sm-2 pb-1 mb-0 text-nowrap">
                                                                                            Deberia cagar su Nombre</h4>
                                                                                        <p class="mb-0"
                                                                                            style="color: #007bff;">
                                                                                            @Deberia cargar su nick</p>

                                                                                                                                                                             
                                                                                            
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-sm-6 col-mb-4">  
                                                                                    <div class="text-center text-sm-right">
                                                                                        <span class="badge badge-secondary">Aqui iria el rol</span>
                        
                                                                                    </div>
                                                                                </div>
                                                                                    
                                                                                
                                                                            </div>
                                                                            <ul class="nav nav-tabs">
                                                                                <li class="nav-item"><a class="active nav-link">Perfil</a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="tab-content pt-3">
                                                                                <div class="tab-pane active">

                                                                                        <div class="row">
                                                                                            <div class="col">
                                                                                                <div class="row">
                                                                                                    <div class="col">
                                                                                                        <div
                                                                                                            class="form-group">
                                                                                                            <label>NickName</label>
                                                                                                            <input
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                name="Nick" id ='Nick'
                                                                                                                minlength="4" maxlength="15" required pattern="[A-Za-z0-9_?]+" required 
                                                                                                                
                                                                                                                value="AquiCargaElNick">
                                                                                                                <p style="color: black">El NickName tiene que ser de 4 a 15 dígitos. Solo puede
                                                                                                                    contener
                                                                                                                    numeros y letras.</p>
                                                                                                                
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <div
                                                                                                            class="form-group">
                                                                                                            <label>Correo
                                                                                                                Electronico</label>
                                                                                                            <input
                                                                                                                class="form-control"
                                                                                                                type="text"
                                                                                                                name="Correo"
                                                                                                                id = "Correo"
                                                                                                                readonly
                                                                                                                value="AquiCargaCorreo@gmail.com">
                                                                                                        </div>
                                                                                                        <p style="color: black">El Correo no se puede editar.</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col">
                                                                                                        <div
                                                                                                            class="form-group">
                                                                                                            <label>Nombre y Apellido
                                                                                                                </label>
                                                                                                            <input
                                                                                                                class="form-control"
                                                                                                                name = "Nombres"
                                                                                                                id = "Nombres"
                                                                                                                type="text"
                                                                                                                value="Debe cargar su nombre"
                                                                                                                maxlength="40" required pattern="[A-Za-z ?]+" required>
                                                                                                        </div>
                                                                                                        <p style="color: black">El nombre solo puede contener letras y un maximo de 40 digitos.</p>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>




                                                                                        <!-- Redes Sociales -->
                                                                                        <div class="row mb-5 gx-5">
                                                                                            <div
                                                                                                class="col-xxl-6 mb-5 mb-xxl-0">
                                                                                                <div
                                                                                                    class="bg-secondary-soft px-4 py-5 rounded">
                                                                                                    <div
                                                                                                        class="row g-3">
                                                                                                        <h4
                                                                                                            class="mb-4 mt-0">
                                                                                                            Enlances
                                                                                                            Perfil
                                                                                                            *(url)
                                                                                                        </h4>

                                                                                                        <div
                                                                                                            class="row">
                                                                                                            <!-- Twitter -->
                                                                                                            
                                                                                                            <!-- Twitch -->
                                                                                                            <div
                                                                                                                class="col-md-6">
                                                                                                                <label
                                                                                                                    style="color:  #ac2bac;"
                                                                                                                    class="form-label"><i
                                                                                                                        class="fab fa-brands fa-twitch me-2"
                                                                                                                        style="color:  #ac2bac;">
                                                                                                                    </i>
                                                                                                                    Twitch
                                                                                                                </label>
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    class="form-control"
                                                                                                                    placeholder="https://www.twitch.com"
                                                                                                                    maxlength="20"
                                                                                                                    name = "Redtwitch"
                                                                                                                    id= "Redtwitch"
                                                                                                                    aria-label="Linkedin"
                                                                                                                    
                                                                                                                    style="margin-bottom: 20px;">
                                                                                                            </div>
                                                                                                            <!-- Instragram -->
                                                                                                            <div
                                                                                                                class="col-md-6">
                                                                                                                <label
                                                                                                                    style="color: #0072b1;"
                                                                                                                    class="form-label"><i
                                                                                                                        class="fab fa-fw fa-instagram text-instagram me-2"
                                                                                                                        style="color: #0072b1;"></i>Instragram
                                                                                                                </label>
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    class="form-control"
                                                                                                                    name = "RedInsta"
                                                                                                                    id = "RedInsta"
                                                                                                                    placeholder="https://cl.linkedin.com"
                                                                                                                    maxlength="20"
                                                                                                                    aria-label="Instragram"
                                                                                                                    >
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="col-md-6">
                                                                                                                <label
                                                                                                                    class="form-label"><i
                                                                                                                        class="fab fa-fw  me-2"></i>Twitter
                                                                                                                </label>
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    name = "RedTwitter"
                                                                                                                    id = "RedTwitter"
                                                                                                                    class="form-control"
                                                                                                                    maxlength="20"
                                                                                                                    placeholder="http://www.twitter.com"
                                                                                                                    >
                                                                                                            </div>
                                                                                                        </div>
                                                                                                   </div>
                                                                                                    <!-- Termino Fila -->
                                                                                                    <div class="row">
                                                                                                        <div class="col-12">
                                                                                                            <div class="form-group" style="
                                                                                                            margin-top: 20px;">
                                                                                                                <label>Confirma los cambios. </label>
                                                                                                                    <input
                                                                                                                        class="form-control"
                                                                                                                        name = "Contra"
                                                                                                                        id = "Contra"
                                                                                                                        type="password"
                                                                                                                        placeholder = "Debe ingresar su contraseña"
                                                                                                                        maxlength="40" required>
                                                                                                                        
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class= "col-12"> 
                                                                                                            <center><button type="submit" id ="submit" class="btn btn btn-dark ms-1">
                                                                                                                Guardar Cambios</button></center>    

                                                                                                        </div>
                                                                                                    </div>
            
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>            
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        </form>
                                                                        <!--Formulariooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->   
                                                                        
                                                                    </div>
                                                                </div>

                                                            


                                            
                                        </div>                        
                                 
                </div>



            </div>



        </div>



        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="d-flex justify-content-between">
                        <div class="modal-header">

                            <h4 class="modal-title wtitulos" id="myModalLabel">Guardar Cambios</h4>
                        </div>

                    </div>

                    <div class="modal-body d-flex justify-content-center">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                        <div class="row">

                            <div class="col-12">



                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="p1">Datos Actualizados Correctamente</p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <img src="img/icons/Check-Logo-blue.png" alt="" style="width: 150px">

                                    </div>
                                </div>


                            </div>
                        </div>



                    </div>

                    <div class="modal-footer">

                        <a class="btn btn-default btn-dark" data-dismiss="modal" style="color: white;">Ok</a>
                    </div>
                </div>
            </div>
           </div>

         <script>
            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

                $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
            });
          </script>

        </div>


    </div>








    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Conectate con nosotros mediante nuestras redes sociales:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">

                        </h6>
                        <img src="img/logo_small.png" alt="" class="logop">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Terminos Legales
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Terminos y Condiciones</a>
                        </p>
                        <p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Direccion
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contacto
                        </h6>

                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            praythenews@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
                        <p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</html>