{% extends 'PrayTheNews/Usuario/PlantillaCuenta-perfil-usuario.html' %}
{% load static %}




{% block imagenPerfil %}

<img src="{{ perfil.fotoUsuario.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">



{% endblock imagenPerfil %}


{% block NombreCompleto %}

{{ perfil.nombreCompleto }}


{% endblock NombreCompleto %}



{% block RolUsuario %}

{{ perfil.rol }}

{% endblock RolUsuario %}


{% block EnlaceRedes %}
href="{{ perfil.linkTwitter }}" target="_blank"
{% endblock EnlaceRedes %}


{% block EnlaceRedes2 %}
href="{{ perfil.linkTwitch }}" target="_blank"
{% endblock EnlaceRedes2 %}



{% block NombreUsuario %}

{{ perfil.nickname }}

{% endblock NombreUsuario %}


{% block CorreoUsuario %}

{{ perfil.correo }}

{% endblock CorreoUsuario %}


{% block RolUsuario2 %}

{{ perfil.rol }}

{% endblock RolUsuario2 %}




{% block CantidadNoticias %}
2
{% endblock CantidadNoticias %}



{% block CantidadComentariosN %}
1
{% endblock CantidadComentariosN %}




{% block CantidadAnalisis %}
3
{% endblock CantidadAnalisis %}


{% block CantidadComentariosA %}
5
{% endblock CantidadComentariosA %}







<!--VENTA EMERGENTE-->

{% block NombreUsuario2 %}
{{ perfil.nombreCompleto }}
{% endblock NombreUsuario2 %}