
<!DOCTYPE html>
<html lang="es">
<head>

    {%load static%}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pray The News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link  href="{% static 'PrayTheNews/css/register.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
  <!--navbar-->
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
    <div class="container-fluid">
        <a href="{% url 'MenuPrincipal'  %}" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  
    <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>
  
            </li>
  
  
          {%if c_usuario %}
            <li class="nav-item dropdown">
              
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    style="padding-right: 70px;margin-right: 20px;">
                     {{c_usuario}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'PerfilConf' %}">Ver Perfil</a></li>
  
                    <li><a class="dropdown-item" href="{% url 'Logout' %}">Desconectarse</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </li>
          {% else %}
            <li class="nav-item dropdown">  
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              style="padding-right: 70px;margin-right: 20px;">
              Conectate
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Inicia sesion</a></li>
                <li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
                </ul>
            </li>
          {%endif%}
  
        </ul>
  
    </div>
  </nav>



     <!--NOTICIAS SEMANALES-->
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, formulario3">
                <header>
                    <div style="float: right;" class="fechas1"> 
                        {%block fecha1%}
                        1 de Abril del 2022

                        {%endblock%}
                        
                        
                    </div>
                    <h1>Noticias Semanales</h1> 

                    <div class="row">
                      <div class="col-md-8">
                        <div class="card mb-3">
                            {%block imagen1%}
                            <img src="img/hogwarts-legacy-1-1601466696.jpg" class="card-img-top" alt="...">
                            {%endblock imagen1%}

                            <div class="card-body bg-dark">
                                {%block noticia1%}
                              <a href="NoticiaHogwartsLegacy.html" class="color_enlace"><h5 class="card-title"> Hogwarts Legacy conjura su encantamiento en un gameplay con ventana de lanzamiento.</h5></a>  
                              <p class="card-text">El Videojuego de la saga de harry potter asombra a todos con nuevo trailer mostrando las caracteristicas que va a tener el videojuego, Hogwarts Legacy es un RPG
                                 de acción inmersivo en mundo abierto que se inspira de los libros de la saga Harry Potter a cargo de Avalanche Software y Warner Bros. Tu personaje es un alumno o alumna del famoso colegio que tiene la clave de un antiguo secreto que amenaza con destruir el mundo mágico.</p>
                              <p class="card-text"><small class="text-muted">31/03/2022 14:11</small></p>
                                {%endblock noticia1%}


                            </div>
                          </div>

                    </div>
                    
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-12">

  
                          
                          <div class="col-md-12">
                            <div class="card mb-3">
                                {%block imagen2%}
                                <img src="img/fotosMenu/1648746202_067719_1648746405_noticia_normal_recorte1.jpg" class="card-img-top" alt="...">
                                {%endblock imagen2%}
                                <div class="card-body bg-dark">
                                    {%block noticia2%}
                                   <a href="#" class="color_enlace"> <h5 class="card-title">Konami abre la web del 35 aniversario de Metal Gear</h5></a>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">25/03/2022 14:31</small></p>
                                  {%endblock noticia2%}
                                </div>
                              </div>
    
                        </div>

                        <div class="col-md-12">
                          <div class="card mb-3">
                            {%block imagen3%}
                              <img src="img/fotosMenu/1648753972_532913_1648754153_portada_normal_recorte1.jpg" class="card-img-top" alt="...">
                              {%endblock imagen3%}
                              <div class="card-body bg-dark">
                                {%block noticia3%}
                                <a href="" class="color_enlace"><h5 class="card-title">El E3 2022 se cancela oficialmente</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">20/03/2022 14:49</small></p>
                                {%endblock noticia3%}
                              </div>
                            </div>
  
                      </div>


                          
                          

                        </div>

                      </div>


                    </div>


            </div>

        </div>




    <!--ANALISIS-->
        <div class="row justify-content-center pt-5 mt-5 mr-1, formulario2" >
            
        <header class="masthead clear">
            <div class="centered">
          
              <div class="site-branding">
                <h2 class="site-title">LOS ÚLTIMOS ANÁLISIS</h2>
              </div>
              <!-- .site-title -->
            </div>
            <!-- .centered -->
          </header>
                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative fondoanalisis">
                        <div class="col p-4 d-flex flex-column position-static">
                            {%block analisis1%}
                            <p class=" fechas1">Analisis por <a href="https://latam.ign.com/" class="color_enlace">Pablo Jara</a></p>
                            <h3 class="mb-0 titulosanalisis">Blasphemous</h3>
                            <div class="mb-1 fechas1">12 de marzo</div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="PaginaAnalisis-Blasphemous .html" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis1%}
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            {%block imagenA1%}
                            <img class="bd-placeholder-img" src="img/840_560.jpeg" alt="" width="380" height="200">
                            {%endblock imagenA1%}
                        </div>
                    </div>
        
                </div>

                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative fondoanalisis">
                        <div class="col p-4 d-flex flex-column position-static">
                            {%block analisis2%}
                            <p class="fechas1">Analisis por <a href="MenuPerfilUsu.html" class="color_enlace">Jose Perez</a></p>
                            <h3 class="mb-0 titulosanalisis">Tunic</h3>
                            <div class="mb-1 fechas1">19 de marzo</div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="PaginaAnalisis-TUNIC .html" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis2%}
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            {%block imagenA2%}
                            <img class="bd-placeholder-img" src="img/tunic_fox.0.jpeg" alt="" width="380" height="200">
                            {%endblock imagenA2%}
                        </div>
                    </div>
        
                </div>

                <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative fondoanalisis">
                        <div class="col p-4 d-flex flex-column position-static">
                            {%block analisis3%}
                            <p class="fechas1">Analisis por <a href="https://latam.ign.com/" class="color_enlace">Jesus Bella</a></p>
                            <h3 class="mb-0 titulosanalisis">Elden Ring</h3>
                            <div class="mb-1 fechas1">15 de marzo </div>
                            <p class="card-text mb-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iure quod eum ducimus nesciunt suscipit soluta sequi magnam, dolorem vel sunt laboriosam provident officia neque quaerat esse? Libero, optio debitis.</p>
                            <a href="#" class="color_enlace1">Continuar leyendo</a>
                            {%endblock analisis3%}
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            {%block imagenA3%}
                            <img class="bd-placeholder-img" src="img/gm-d9aca072-2f2d-49a5-ae25-0e2504921135-elden-ring-4k-screenshot.jpg" alt="" width="380" height="200">
                            {%endblock imagenA3%}
                        </div>
                    </div>
        
                </div>

        </div>





        <!--CALENDARIO DE LANZAMIENTOS-->


        <div class="row justify-content-center pt-5 mt-5 mr-1, formulario4">
            <header class="masthead clear">
                <div class="centered">
              



                  <div class="row">
                      <div class="col-md-6">
                        <ol class="list-group list-group-numbered border border-ligh">
                            {%block lanzamiento%}
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">DEATH STRANDING DIRECTOR'S CUT</div>
                                <div class="minititulos1">Fecha de lanzamiento: 30 de marzo</div> 
                              </div>
                              
                              <img src="img/fotos_lanzamientos/730783_256x356.jpg " alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary text-dark">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">LEGO STAR WARS: THE SKYWALKER SAGA</div>
                                <div class="minititulos1">Fecha de lanzamiento: 5 de abril </div>
                                
                              </div>
                              <img src="img/fotos_lanzamientos/631151_123x150.jpg " alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold minititulos2">CHRONO CROSS: THE RADICAL DREAMERS EDITION 
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 7 de abril</div> 
                              </div>
                              <img src="img/fotos_lanzamientos/732234_123x200.jpg" alt="" class="formatoImagenes">
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold minititulos2">TORMENTED SOULS
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 14 de abril</div>  
                                
                                </div>
                                <img src="img/fotos_lanzamientos/708229_123x203.jpg" alt="" class="formatoImagenes">
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold minititulos2">KING ARTHUR: KNIGHT'S TALE
                                </div>
                                <div class="minititulos1">Fecha de lanzamiento: 26 de abril</div>
                                
                                </div>
                                <img src="img/fotos_lanzamientos/733773_123x185.jpg" alt="" class="formatoImagenes">
                              </li>
                              {%endblock lanzamiento%}
                          </ol>

                      </div>


                      <div class="col-md-6">

                        {%block DesLanzamiento%}
                            <h1>Todas las fechas de lanzamiento de 2022</h1>
                            <p style="margin-top: 60px;"> 2022 ya está aquí, así que es buen momento para echar un vistazo a todo lo que está por venir en este año.</p>
                            <p> En este artículo hemos recopilado todas las fechas de lanzamiento de los videojuegos que llegarán a lo largo de 2022. Si buscas los títulos que llegarán en el futuro, <a href="Lanzamientos.html" class="color_enlace1"> aquí tienes todos los lanzamientos de 2022</a>.</p>
                            <p> Son fechas de lanzamiento confirmadas para juegos de PC, PlayStation 4, PlayStation 5, Nintendo Switch, Xbox One, Xbox Series S y Xbox Series X. Los días indicados corresponden a fechas occidentales, ya sean americanas, europeas o mundiales.</p>
                            <p> Por supuesto iremos actualizando la lista regularmente para reunir la máxima cantidad de juegos, para que puedan consultar.</p>
                        {%endblock DesLanzamiento%}
                        </div>


                  </div>

                  <!-- .site-title -->
                </div>
                <!-- .centered -->
              </header>
        </div>


        <!--CATALOGO DE COMPRAS-->




        <div class="row justify-content-center pt-5 mt-5 mr-1, formulario2">
            <header class="masthead clear">
                <div class="centered">

                    <div class="site-branding">
                        <h1 class="site-title" style="margin-bottom: 25px;">CATALOGO DE COMPRAS</h1>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <p style="color: #E1E8ED; font-weight: bold;">¡Descubre los mejores juegos que están por llegar! con el catalogo de compras que se encuentra en la pagina. Obtén todo lo relacionado con juegos de PC, PlayStation, Xbox y Nintendo de la forma mas segura</p>
                            <p style="color: #E1E8ED; font-weight: bold;">Con Eneba: el mercado para gamers de más rápido crecimiento. Eneba es la plataforma líder de compraventa de productos de gaming digitales y físicos, tanto nuevos como de segunda mano. Gana dinero vendiendo lo que ya no usas y encuentra juegos y accesorios más baratos. Descárgate la app de <a href="https://www.eneba.com/latam/" class="color_enlace1" target="_blanck">Eneba</a> gratis. </p>
                            <a href="https://www.eneba.com/latam/" target="_blank" ><img src="{% static 'PrayTheNews/img/logo_listo_eneba.png' %}" class="img-fluid" alt="eneba" style="margin-bottom: 60px;"></a>

                        </div>



                        <div class="col-md-6">

                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="1500">
                                      {%block Catalogo1%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - horizon.jpg"  class="d-block w-100 formatoSlider" alt="...">
                                    {%endblock Catalogo1%}

                                  </div>
                                  <div class="carousel-item" data-bs-interval="1500">
                                      {%block Catalogo2%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - demons souls.jpg" class="d-block w-100 formatoSlider" alt="...">
                                    {%endblock Catalogo2%}
                                  </div>
                                  <div class="carousel-item" data-bs-interval="1500">
                                      {%block Catalogo3%}
                                    <img src="img/CatalogoCompra/Catalogo de compras - sackboy.jpg" class="d-block w-100 formatoSlider" alt="...">
                                        {%endblock Catalogo3%}
                                </div>
        
        

                              </div>
                        </div>

                    </div>
                    
                      











                </div>





                
            </header>
        </div>







        

    </div>

  </div>
















  <!-- Footer -->
 <footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
            <img src="img/logo_small.png" alt="" class="logop">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Terminos Legales
          </h6>
          <p>
            <a href="#!" class="text-reset">Terminos y Condiciones</a>
          </p>
          <p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Direccion
          </h6>
          <p>
            <a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          
          <p>
            <i class="fas fa-envelope me-3"></i>
            praythenews@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
          <p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>