<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pray The News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'PrayTheNews/css/estilosRegistro.css'%} ">
	  <link rel="stylesheet" href="{% static 'PrayTheNews/css/register.css'%}">
	
</head>
<body>


<!-- BARRA NAVEGACIÓN -->
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark border-primary">
  <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="{% static 'PrayTheNews/img/logo_small.png'%}" alt="" width="100"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <div id="MenuNavegacion" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3">
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'MenuPrincipal'  %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MenuNoticias'%}">Noticias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuAnalisis'%}">Analisis</a>

          </li>

          <li class="nav-item">
              <a class="nav-link" href="{%url 'Catalogo'%}">Catalogo</a>
          </li>


        {%if c_usuario %}
          <li class="nav-item dropdown">
            
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  style="padding-right: 70px;">
                   {{c_usuario}}
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'CuentaUsuario' %}">Ver Perfil</a></li>
                  <li><a class="dropdown-item" href="{% url 'Logout' %}">Desconectarse</a></li>
              </ul>
          </li>
        {% else %}
          <li class="nav-item dropdown">  
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            style="padding-right: 70px;">
            Conectate
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'LoginUsuario' %}">Inicia sesion</a></li>
              <li><a class="dropdown-item" href="{% url 'RegistroUsuarios'%}">Registrate</a></li>
              </ul>
          </li>
        {%endif%}

      </ul>

  </div>
</nav>


     <!--NOTICIAS SEMANALES-->
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-10, formulario">
                <header style="margin-bottom: 40px;">  
                    <div style="float: right;" class="fechas1"> 27 de marzo del 2022</div>
                    <h1 style="color: aliceblue;"> Analisis</h1> 


                </header>

                <div class="row">
                    <div class="col-md-6 n-body">
                        
                        <a href="PaginaAnalisis-TUNIC .html" style="color: #1DA1F2;"><h2 class="colorTituloAnalisis"> "Tunic, Análisis. Descubriendo la leyenda del zorro" </h2></a>
                        <p> 
                            Andrew Shouldice y Finji convierten un planteamiento sencillo en un videojuego profundo, repleto de capas, secretos y mucha magia. Difícil de olvidar.
                        </p>
                        <p>
                            Tunic es un videojuego de aventuras para PC con perspectiva isométrica y una fuerte inspiración en algunos clásicos del género, como la saga Zelda. Colorido y cuidado en su diseño artístico, en Tunic tomaremos el control de un aguerrido zorro, que deberá explorar escenarios y mazmorras llenas de secretos y enemigos.
                        </p>

                        

                    </div>

                    <div class="col-md-6">
                        <img src="img/tunic_fox.0.jpeg" alt="Responsive image" class="img-fluid ">

                    </div>

                    <p class="card-text"> <small>27/02/2022 12:23 CET </small></p>
                    
                </div>

           
        </div>


       
    </div>


    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-12 formulario3">
                <div class="row">
                    <div class="col-md-3">

                        <p class="card-text fechas2"> <small >25/02/2022 16:56 CET </small></p>

                    </div>

                    <div class="col-md-5">
                                              
                        <a href="PaginaAnalisis-Blasphemous .html" style="color: #1DA1F2;"> 
                            <h3>
                                Blasphemous, Análisis: un Metroidvania muy nuestro
                            </h3>
                        </a>
                    
                        <p>The Game Kitchen finaliza el desarrollo de un título sorprendente por su estética y ambientación, que cumple bien dentro de un género exigente.</p>
                        
                    </div>
                    <div class="col-md-4">

                        <img src="img/Blasphemous.jpg" alt="Responsive image" class="img-fluid">
                        
                    </div>
                    <div class="sep-md" ></div>
               
            </div>
            <div class="row">
                <div class="col-md-3">

                    <p class="card-text fechas2"> <small>24/02/2022 16:56 CET </small></p>

                </div>

                <div class="col-md-5">

                    <a href="#" style="color: #1DA1F2;"> 

                        <h3>
                            Elden Ring, análisis: La Sagrada Familia de From Software
                       </h3>
                        
                    
                    </a>
                    

                    <p>Los creadores de Dark Souls dan otro golpe sobre la mesa y nos ofrecen uno de los mejores mundos abiertos jamás vistos en cualquier videojuego.</p>
                    
                </div>
                <div class="col-md-4">

                    <img src="img/gm-d9aca072-2f2d-49a5-ae25-0e2504921135-elden-ring-4k-screenshot.jpg" alt="Responsive image" class="img-fluid">
                    
                </div>
                <div class="sep-md" ></div>
           
        </div>
        <div class="row">
            <div class="col-md-3">

                <p class="card-text fechas2"> <small>23/03/2022 13:00 CET </small></p>

            </div>

            <div class="col-md-5">
                <a href="#" style="color: #1DA1F2;"> 
                    <h3>
                        Kirby y la Tierra olvidada, análisis. El más camaleónico de los Kirby
                    </h3>
                    
                </a>
                

                <p>Analizamos lo nuevo de HAL Laboratory, que por fin lanza un nuevo Kirby a la altura de otras grandes entregas de la factoría Nintendo en Switch.</p>
                <p>Kirby celebra su 30º aniversario con su primer juego de plataformas en 3D, una divertidísima aventura que eleva a la bola rosa de Nintendo a un nuevo nivel.</p>
                
            </div>
            <div class="col-md-4">

                <img src="img/kirby.jpg" alt="Responsive image" class="img-fluid">
                
            </div>
            <div class="sep-md" ></div>
       
        </div>


        <div class="row">
            <div class="col-md-3">

                <p class="card-text fechas2"> <small>22/03/2022 10:16 CET</small></p>

            </div>

            <div class="col-md-5">
                <a href="PaginaAnalisis.html" style="color: #1DA1F2;"> 
                    <h3>
                        Martha Is Dead, análisis. Explorando el horror humano
                    </h3>
                
                </a>
                
                

                <p>Una misteriosa muerte tiene lugar durante la Segunda Guerra Mundial. En la piel de su hermana y cámara en mano, nos toca a nosotros descubrir la verdad.</p>
                
                
            </div>
            <div class="col-md-4">

                <img src="img/Analisis/portada/martha-is-dead-review_7n7f.jpg" alt="Responsive image" class="img-fluid">
                
            </div>
            <div class="sep-md" ></div>
       
        </div>

        <div class="row">
            <div class="col-md-3">

                <p class="card-text fechas2"> <small>21/03/2022 13:56 CET </small></p>

            </div>

            <div class="col-md-5">
                <a href="#" style="color: #1DA1F2;">
                    <h3>
                        Ghostwire Tokyo, análisis. Ambientación de ensueño, jugabilidad terrenal
                    </h3>
                </a>
               
                <p>Os contamos qué tal está el nuevo juego exclusivo (temporal) de PS5. Una aventura de acción de Shinji Mikami y Tango Gameworks, creadores de The Evil Within.</p>
                
                
            </div>
            <div class="col-md-4">

                <img src="img/ghostwire.jpg" alt="Responsive image" class="img-fluid">
                
            </div>
            
       
        </div>

            </div>

        </div>


    </div>

    <div style="margin-top: 50px ;"> 
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center ">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
    



    </div>

  </div>
















   <!-- Footer -->
 <footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
            <img src="img/logo_small.png" alt="" class="logop">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Terminos Legales
          </h6>
          <p>
            <a href="#!" class="text-reset">Terminos y Condiciones</a>
          </p>
          <p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Direccion
          </h6>
          <p>
            <a href="#!" class="text-reset">C. Nueva 1660, Huechuraba, Región Metropolitana</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          
          <p>
            <i class="fas fa-envelope me-3"></i>
            praythenews@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> (2) 2999 3000</p>
          <p><i class="fas fa-print me-3"></i> (+569) 2999 3000</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Pray The News.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>